body{
    background-color: rgb(43, 43, 43);
}



.SideBarL{
    margin:2% 0% 0% 18%;
    float: left;
    width:4.3%;
    aspect-ratio:1/9.25 ;
    background-color:rgb(26, 26, 26);
    border: 9px rgb(0, 0, 0) solid;
}
.SideBarR{
    margin:-42% 18% 0% 0%;
    float: right;
    width:4.3%;
    aspect-ratio:1/9.25 ;
    background-color:rgb(26, 26, 26);
    border: 9px rgb(0, 0, 0) solid;
}

.listPieces{
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.cutPieces{
    width:55%;
    margin: 1% 0 0 22.5%;
}



.Board{
    
    background-color: rgb(26, 26, 26);
    margin: 3% 0 0 27.5%;
    width: 45%;
    aspect-ratio: 1.23/1;
    padding: 0%;
    padding-top:1% ;
    padding-right: .5%;
    padding-bottom: .3%;
    
}









.Labels{
    color: white;
    font-size: 22px;
    width: 11.8%;
}

ul{
    list-style: none;
}

.nums{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5%;
    float: left;
    margin-right: 3%;
}


.nums .Labels{
    margin:253% 0 253% 0%; 
}












.list{
    margin:0%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 3.9% 0% 0%;
}



.WhiteSquare{
    background-color: rgb(241, 226, 192);
}


.BlackSquare{
    background-color: rgb(83, 150, 63);
}

.BlackSquare,.WhiteSquare{
    width: 12%;
    aspect-ratio: 1/1;
    padding: 0%;
    position: relative;
}

.Alpha{
    display: flex;
    margin:0% ;
    margin-top: 1.5%;
    padding-left: 0%;
    padding-bottom: 3%;
}

.Alpha .Labels{
    text-align: center;
    width: 11.6%;
}


.img-bttn{
    margin: 0%;
    padding: 0%;
    border: none;
    cursor: pointer;
    width: 0%;
}


.img{
    width:80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10% 0 0 10%;
}

.highlight-Piece{
    object-position:center;
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

